extends layout

block style
    link(rel="stylesheet", href="/stylesheets/showPresentation.css")

block content
    div#impress!= presentation.content
    div.socketConnectionMarker
        i
        div.socketConnectionTextCont
            div.socketConnectionTextSliderCont
                span Connected
                span Disconnected
    script.
        window.token = `#{token}`;
        window.presentationUrl = `#{presentationUrl}`;
    script(src='/javascripts/impress.js')
    script.
        let impressApi = impress();
        impressApi.init();
        window.impress = impressApi;
    script(src='/javascripts/vendor.bundle.js')
    script(src='/javascripts/showPresentation.bundle.js')