extends layout

block content
    .center
        h1.title!= 'nerd<span>pitch<span>'
        p NerdPitch is a the most beloved tool for spreading knowledge and ideas.
        a.login(href='/login') Login first!