<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=title

        link(href='/stylesheets/index.css',rel='stylesheet')
        link(href='/stylesheets/vendor.css',rel='stylesheet')

    body
        div#wrapper
            div.mainCont
                section
                    div
                        img(src='/images/nerdpitch-logo.png')
                    div
                        q 
                            span nerd
                            span(class='color') pitch
                            span is an innovative way of presenting knowledge and ideas. 
                section
                    div
                        img(src='/images/megaphone.png')
                        div
                            span We haven't launched yet, 
                            span.color get informed first:
                    div
                        form(action="")
                            input(placeholder='Your email here',type='email',required)
                            button Inform me
            footer.
                Powered in <a href="http://hackairan.com/" target="_blank">HackaIran</a>
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script.
            document.querySelector('form').onsubmit = (e)=>{
                e.preventDefault();
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                let email = document.querySelector('input').value;
                if(email.trim() !== '' && re.test(String(email).toLowerCase())){
                    axios.post('/api/subscribe',{email}).then(()=>{
                        // okay
                        document.querySelector('input').value = '';
                        document.querySelector('input').setAttribute('placeholder','Subscribed, Thanks!');
                        document.querySelector('input').setAttribute('readonly','true');
                        document.querySelector('button').setAttribute('disabled','true');
                        document.querySelector('button').textContent = 'Subscribed';
                    }).catch(()=>{
                        // error
                    })
                }else{

                }
            }