html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Nerd Pitch | NerdPitch is a the most beloved tool for spreading knowledge and ideas.
    body
        block content
        script(src='javascripts/bundle.js')