@import 'globals/father';
.socketConnectionMarker{
    width: 100px;
    height: 30px;
    position: fixed;
    left: 10px;
    bottom: 10px;

    i{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #c0392b;
        margin-left: 5px;
        margin-top: 10px;
        float: left;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }

    .socketConnectionTextCont{
        width: calc(100% - 20px);
        float: right;
        height: 30px;
        overflow: hidden;
        position: relative;
        .socketConnectionTextSliderCont{
            width: 100%;
            height: 60px;
            position: absolute;
            top: 0px;
            transition-duration: 0.2s;
            transform: translateY(-30px);
            span{
                width: 100%;
                display: block;
                height: 30px;
                line-height: 30px;
                font-family: $font-family;
                font-size: 12px;
            }

            span:first-of-type{
                color: #27ae60;
                text-shadow: 0px 0px 5px rgba(39, 174, 96, 1);
            }
            span:last-of-type{
                color: #c0392b;
                text-shadow: 0px 0px 5px rgba(192, 57, 43, 1);
            }

        }

    }

}