extends ../layout

block content
  
    if (presentations.length === 0)
        .empty
            h2
                span It seems that you haven't built any presentations yet.
                a(href='/presentations/new') build your first one now +

    if (presentations.length > 0)
        .presentations
            a.item.new(href='/presentations/new')
                div
                    h2 +

            - for (let presentation of presentations) {
                div.item
                    a(href='/presentations/edit/' + presentation.url)
                        .thumbnail
                    h2 #{presentation.title}
                    a.show(href='/show/' + presentation.url, target='_blank') show
            - }