extends ../layout

block content
  
    a(href='/presentations/new')
        button Create new presentation

    ul.presentations-list
        - for (let presentation of presentations) {
            li
                h2 #{presentation.title}
                a(href='/show/' + presentation.url, target='_blank') show
                a(href='/presentations/edit/' + presentation.url) edit
        - }