html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="/stylesheets/control.css")

        title Nerd Pitch | #{title}
    body
        block content
            div.wrapper
                .controlPanel
                    .statusText.
                        Connected
                    div.controlButtons
                        div
                            button.nextSlideBtn Next Slide
                        div
                            button.prevSlideBtn Previous Slide
        script.
            window.token = `#{token}`;
            window.presentationUrl = `#{presentationUrl}`;
        script(src='/javascripts/vendor.bundle.js')
        script(src='/javascripts/control.bundle.js')