html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Nerd Pitch | #{title}
    body
        block content
            input(type='submit',value='next')
            input(type='submit',value='prev')
        script.
            window.token = `#{token}`;
            window.presentationUrl = `#{presentationUrl}`;
        script(src='/javascripts/vendor.bundle.js')
        script(src='/javascripts/PWA.bundle.js')