doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/vendor.css")
    link(rel="stylesheet", href="/stylesheets/user.css")
  body
    nav
      if (!user)
        li
          a(href='/login') Login
        li
          a(href='/register') Register
      if (user)
        li
          a(href='/home') Welcome #{user.name}
        li
          a(href='/presentations') Presentations
        li
          a(href='/logout') Logout
    div.container
      div.content
        block content
    script(src='javascripts/vendor.bundle.js')