extends layout

block content
  
    a(href='/presentations/new')
        button Create new presentation

    ul
    - for (let presentation of presentations) {
        li
            a(href='/show/' + presentation.url)
            h1 #{presentation.title}
    - }