extends layout

block content
  .form-container
    form(role='form', action="/register",method="post")
      h2 Sign Up here
      input(type='text', name="name", placeholder='Your Name')
      input(type='text', name="username", placeholder='Your Username')
      input(type='password', name="password", placeholder='Your Password')
      button(type='submit') Sign Up